
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Poppins font */
}

h4 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.container-fluid {
    height: 100vh;
}
.left-side {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side {
    background-image: url('https://images.unsplash.com/photo-1525498128493-380d1990a112?q=80&w=3024&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your own image URL */
    background-size: cover;
    background-position: center;
    border-radius: 45px 0 0 45px;
}
.login-card {
    width: 100%;
    max-width: 400px;
}
.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #3A5B22;
    background: #3A5B22;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}
.btn-primary:hover {
    background-color: #32491C;
    border-color: #32491C;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #2A3E18 !important;  /* Ensure it works with !important */
    border-color: #2A3E18 !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /* Optional: Adds "pressed" effect */
}

a {
    color: #3A5B22;
    text-decoration: none;
}

a:hover, a:active {
    color: #32491C;
    text-decoration: underline;
}

a:visited {
    color: #2A3E18;
}

.form-control:focus {
    box-shadow: 0 0 3px 1px #3A5B22; /* Green glow */
    border-color: #3A5B22; /* Optional: Change the border color to green */
}

label {
    font-weight: 500;
}

input::placeholder,
textarea::placeholder {
    color: #D9D9D9;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.4;
}

.forgot-password {
    font-size: 0.875rem;
    text-align: right;
    margin-top: 5px;
}

.error-message {
    font-size: 0.7rem;
    color: #C62828;          /* Optional: Color of the error message */
    margin-top: 5px; /* Optional: Adds space above the message */
    margin-left: 3px; /* Optional: Adds space above the message */

}

