.form-container {
    margin-bottom: 20px;
}

.form-container h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin: 10px 0 5px;
}

.form-container input, .form-container textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: grey;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: orangered;
}

.bootcamp-list {
    margin-bottom: 20px;
}

.bootcamp-list h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.bootcamp-list ul {
    list-style-type: none;
    padding: 0;
}

.bootcamp-list li {
    margin-bottom: 10px;
}

.bootcamp-list a {
    color: grey;
    text-decoration: none;
}

.bootcamp-list a:hover {
    text-decoration: underline;
}

.bootcamp-details {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.bootcamp-details h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.bootcamp-details button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: grey;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.bootcamp-details button:hover {
    background-color: orangered;
}
