.search-form {
    margin: 0;
    max-width: 800px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    padding: 10px 16px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: grey;
    color: white;
    cursor: pointer;
    margin: 0;
}

button:hover {
    background-color: orangered;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: grey;
    vertical-align: top;
    overflow: hidden;
}

th {
    background-color: grey;
    color: white;
}

.tablesorter thead th {
    cursor: pointer;
    background-color: grey;
}

td {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-date { width: 10%; }
.col-author { width: 10%; }
.col-title { width: 15%; }
.col-description { width: 35%; }
.col-category { width: 10%; }
.col-key-features { width: 10%; }
.col-reference_links { width: 10%; }
.col-favourite { width: 5%; }