<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Idea</title>
    <link rel="stylesheet" th:href="@{default-style.css}">
    <link rel="stylesheet" th:href="@{new-idea-style.css}">
</head>
<body>
<div class="container">
    <div class="container">
        <div th:replace="~{fragments/header :: header(
    title='Bootcamp Ideas',
    subtitle=${competitionName},
    message=${competitionDescription},
    user=${user},
    link1Href='/ideas',
    link1Text='See all ideas',
    link2Href='/notready',
    link2Text='',
    link3Href='/notready',
    link3Text=''
)}"></div>
    <form method="post" action="/new-idea">
        <label for="title">Idea Title*</label>
        <input type="text" id="title" name="title" placeholder="Enter idea title" required>

        <label for="description">Description*</label>
        <textarea id="description" name="description" placeholder="Enter idea description" required></textarea>

        <select id="category" name="category">
            <option value="" disabled selected>Select a category</option>
            <th:block th:each="category : ${categories}">
                <option th:value="${category.id}" th:text="${category.name}">Category Name</option>
            </th:block>
        </select>


        <label for="keyFeatures">Key Features</label>
        <input type="text" id="keyFeatures" name="keyFeatures" placeholder="List key features">

        <label for="referenceLinks">References</label>
        <input type="text" id="referenceLinks" name="references" placeholder="Enter any references (links)">

        <label for="fileUpload">Upload a file</label>
        <input type="file" id="fileUpload" name="fileUpload"/><br><br>

        <button type="submit">Submit Idea</button>
    </form>
    <footer>
        <a href="/logout" class="footer-link">Log out</a>
    </footer>
</div>
</body>
</html>