<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Common Fragments</title>
    <link rel="stylesheet" th:href="@{base-styles.css}">
</head>
<body>
<div th:fragment="header(title, subtitle, message, user)">
    <header class="header">
        <h1 th:text="${title}"></h1>
        <h2 class="subtitle" th:text="${subtitle}"></h2>
    </header>
    <div class="admin-header">
        <div class="admin-note" th:if="${message != ''}">
            <p class="admin-note-label">Bootcamp description:</p>
            <p class="admin-note" th:text="${message}"></p>
        </div>
        <div class="account-info">
            <h3 th:text="${user}"></h3>
<!--            <a th:href="${link1Href}" th:text="${link1Text}"></a>-->
            <a sec:authorize="hasRole('ROLE_User')" th:href="@{${link1Href}}" th:text="${link1Text}"></a>
            <a th:href="${link2Href}" th:text="${link2Text}"></a>
            <a th:href="${link3Href}" th:text="${link3Text}"></a>
        </div>
    </div>
</div>
</body>
</html>
